@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --white-color: white;
    --blue-color:#0E4BEF;
    --header-height:5rem;
    --footer-height:4rem;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

a,a:hover{
    text-decoration: none;
}

body{
    color: black;
}
/*First page smile scene ---------------------------------------------*/
.first-page-scene {
    box-sizing:content-box;
    width: 80px;
    height: 40px;
    border:20px solid var(--white-color);
    border-top:0;
    border-radius:0 0 100px 100px; 
    position:absolute;
    left:50%;
    bottom:40%;
    transform:translateX(-50%);
    background-color: var(--blue-color);
    box-shadow: 0px 0px 0px 1800px var(--blue-color);
    z-index: 1000;
}
.first-page-scene:before,
.first-page-scene:after{
    content:'';
    width: 80px;
    height: 40px;
    border:20px solid var(--white-color);
    border-bottom:0;
    border-radius: 100px 100px 0 0;
    position:absolute;
    right:100%;
    bottom:140px;
}
.first-page-scene:after{
    left:100%;
}
.first-page-scene-text{
    color: var(--white-color);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    text-align: center;
    z-index: 1000;
}

/*Page wrapper-----------------------------------------------------------------*/
.wrapper{
    position: absolute;
    width:100vw;
    height:100vh;
    background-image:url(./images/Simon-MC.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue-color);
    opacity: 0.4;
}


/*Header section--------------------------------------------------------------------*/
header{
    position: relative;
    height:var(--header-height);
    width: 100%;
    border-bottom: 2px solid var(--white-color);
    z-index: 100;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo-div a{
    position: relative;
    padding: 5px;
    margin: 0 0 0 50px;
    font-size: 1.4rem;
    color:var(--white-color);
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 80px;
    margin: 0 50px 0 0;
}
.menu ul a{
    color:var(--white-color);
    text-transform: uppercase;
    padding:5px;
    transition: 0.5s;
}

.menu ul a:hover{
    /* color: var(--blue-color); */
    box-shadow: 0px 2px 0px var(--blue-color);
    text-shadow: 0px 0px 10px var(--blue-color);
}

.hamburger{
    display: none;
    background-image:url(./images/bars-solid.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    filter: invert(1);
    margin-right: 20px;
}



/*Main section--------------------------------------------------------*/

.index-main{
    position:relative;
    top: 50%;
    transform: translateY(-100%);
}
.main-text-div{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0 0 0 50px;
}
.main-text-div h1{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--white-color);
}
.main-text-div h2{
    font-size: 95px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bolder;
    color: var(--white-color);
}
.main-text-div p{
    font-size: 20px;
    color: var(--white-color);
}


/*Footer section-----------------------------------------------------------------------*/
footer{
    position: fixed;
    bottom: 0;
    height: var(--footer-height);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    font-size: 14px;
    margin: 0 0 0 50px;
    color: var(--white-color);
}

.socials{
    margin: 0 50px 0 0;
}
.socials a i{
    padding: 5px;
    color: var(--white-color);
    transition: 1s;
    font-size: 2.3rem;
}
.socials a i:hover{
    transform: translateY(-10px);
}


