@media (width <= 1023px) {
    
    /* Index Main tablet css-------------------------------------- */
    .index-main{
        display: flex;
        justify-content: center;
    }
    .main-text-div h1, .main-text-div p{
        font-size: 1rem;
    }    
    .main-text-div h2{
        font-size: 65px;
    }

    /*About & Contact HTML Tablet---------------------------------------*/

    .beskrivning-image-div{
        flex-direction: column;
    }

    .utbildning-kunskaper-div .utbildning{
        padding-right: 3rem;
    }

}
