@media (width <= 1023px) {
    .index-main{
        display: flex;
        justify-content: center;
    }
    .main-text-div h1, .main-text-div p{
        font-size: 1rem;
    }    
    .main-text-div h2{
        font-size: 65px;
    }

}
