@media (width <= 767px) {
    .menu{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .hamburger.active{
        background-image: url(./images/xmark-solid.svg);
    }
    .menu.active{
        display: block;
        background-image: url(./images/Blue-menu-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }
    .menu ul{
        flex-direction: column;
        align-items: center;
        gap: 50px;
        font-size: 2.5rem;
        margin: 150px 0 0 0;
    }

    .main-text-div{
        padding: 0 0 0 10px;
    }
    .main-text-div h2{
        font-size: 3rem;
    }
    .main-text-div p{
        max-width: 320px;
    }
    br {
        display: none;
    }
    .logo-div a{
        margin-left: 10px;
    }
    .hamburger{
        margin-right: 0px;
    }
    .copyright{
        display: none;
    }
    .socials{
        margin: auto;
    }
}