/*Introduktion intressen och bild.-----------------------*/

.beskrivning-image-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin: 6rem 6rem;
}

.underrubrik{
    color: var(--blue-color);
    font-size: 2rem;
    margin: 2rem 0;
}
.brodtext{
    color: white;
    max-width: 600px;
    line-height: 1.5rem;
}
.brodtext span{
    font-weight: bold;
    text-decoration: underline; 
}

.beskrivning-image-div img{
    width: 450px;
}

/*Utbildning och kunskaper---------------------*/

.utbildning-kunskaper-div{
    display: flex;
    justify-content: space-between;
    margin: 4rem 6rem;
}

.utbildning{
    padding-right: 18rem;
}
.kunskaper{
    padding-left: 3rem;
    border-left: 2px solid var(--white-color);
}

/*Contact part*/
.h2-div-special-top-border{
    border-top: 2px solid var(--white-color);
}
.contact{
    padding-bottom: 6rem;
    margin: 6rem 0 var(--footer-height) 6rem;
}
.brodtext-botten{
    margin-top: 2rem;
}

